
@{
    ViewBag.Title = "Modulo Mantenimiento";
}

<h6>Modulo Mantenimiento</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Mantenimiento');
    });
</script>