/* STYLOS SEET ALERT */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.swal2-timer-progress-bar {
    background: white !important; /* Verde, cámbialo por el color que quieras */
}







/* Fieldset premium */
.fieldset-floating {
    position: relative;
    border: 2px solid #3b5998; /* Borde más fuerte y elegante */
    border-radius: 5px; /* Bordes suaves */
    padding: 15px 15px 15px;
    margin-bottom: 15px;
    background: #ffffff;
}

    /* Legend integrado */
    .fieldset-floating > legend {
        position: absolute;
        top: -0.45rem;
        left: 18px;
        padding: 0 10px;
        font-weight: bold;       
        background: #fff;
        text-transform: uppercase;
    }


/* STILOS PARA LOS MODAL*/

.custom-input .form-control {
    border-radius: 0 .35rem .35rem 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    height: 28px!important;
}

.custom-input .input-group-text {
    background-color: #e9f2ff; /* fondo suave */
    border-radius: .35rem 0 0 .35rem;
    border: 1px solid #ced4da;
    color: #0a58ca; /* íconos azules por defecto */
    padding: 0.25rem 0.5rem;
    height: 28px!important;
    transition: all 0.2s ease-in-out;
}

.custom-input .form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 .15rem rgba(13,110,253,.25);
}

.custom-input .input-group-text i {
    font-size: 0.8rem;
}

.custom-input:focus-within .input-group-text {
    background-color: #0d6efd;
    color: #fff; /* ícono blanco al enfocar */
}

legend{
    font-size:12px!important;
}



.modal-footer {
    padding-top: .45rem;
    padding-bottom: .45rem;
}


.modal-body {
   /* background-color: #d8dfea;*/
}

.modal-footer {
    /*background-color: #d8dfea;*/
}




















#datosNominaEmpleado {
    display: none;
}






/*ESTILOS GENERALES*/







.btn-editar-dt {
    color: black !important;
    padding: 0px !important;
}

.btn-eliminar-dt {
    color: red !important;
    padding: 0px !important;
}

.btn-excel-datatable {
    background-color: white !important;
    color: black !important;
}



.btnmenu {
    color: black !important;
    margin: 0 3px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    
}

/* Botón Guardar (acción principal) */
.btn-modal-guardar {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff !important;
    font-weight: 600;
    border-radius: 6px;
    padding: 6px 18px;
    transition: 0.3s;
    border: none;
}

    /*.btn-modal-guardar:hover {
        background: linear-gradient(135deg, #5a67d8, #6b46c1);
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }*/

/* Botón Cancelar (con degradado en tonos rojos elegantes) */
.btn-modal-Cancelar {
    background: linear-gradient(135deg, #ff6a6a, #d63031);
    color: #fff !important;
    font-weight: 600;
    border-radius: 6px;
    /*padding: 6px 18px;*/
    margin-right:10px;
    transition: 0.3s;
    border: none;
}

/*    .btn-modal-Cancelar:hover {
        background: linear-gradient(135deg, #e63946, #b71c1c);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }*/



.btn-modal-doc {
    background-color: red !important;
    color: white !important;
}

.btn-pagar {
    background-color: blue !important;
    color: white !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.btn-pdf-datatable {
    background-color: none !important;
    color: black !important;
}

/* Estilos base para que ambos botones tengan el mismo tamaño */
.btn-pdf-grid-descarga,
.btn-fin-contrato {
    font-weight: 600;
    padding-left: 8px!important;
    padding-right: 8px!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    border: none !important; /* sin borde fijo */
    border-radius: 8px; /* misma curva */
    display: inline-flex;
    align-items: center;
    gap: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Botón PDF elegante (rojo degradado) */
.btn-pdf-grid-descarga {
    background: linear-gradient(135deg, #ff4b2b, #d8341f);
    color: #fff !important;
}

    .btn-pdf-grid-descarga:hover {
        background: linear-gradient(135deg, #d8341f, #a82615);
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    }


/* Botón Fin de Contrato elegante (dorado degradado) */
.btn-fin-contrato {
    background: linear-gradient(135deg, #f6e05e, #d69e2e);
    color: #222 !important;
}

    .btn-fin-contrato:hover {
        background: linear-gradient(135deg, #d69e2e, #b7791f);
        color: #000 !important;
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0,0,0,0.25);
    }


.btnSubMenu {
    align-content: center;
    background: white !important;
    box-shadow:  0px 0px 3px 1px black;
}

.contenedor {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.contimg-cambiar-img {
    margin-right: auto;
    margin-left: auto;
}

.fondo {
    /*background-color: #3b5998;*/
    background-color: #d8dfea;

}

.form-control {
    border: solid 1px darkgray !important;
}

.grid {
    border: solid 1px darkgray !important;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;
    border-radius: 5px;
}

.header-modal {
    color: white;
    font-weight: bold;
    background-color: #3b5998;

}

.imagelogoempresa {
    max-width: 200px!important;
}

/* Estado Activo */
.label-estado-activo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    color: #000; /* texto negro */
    white-space: nowrap;
}

    .label-estado-activo::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #198754; /* verde */
        box-shadow: 0 0 4px rgba(25,135,84,0.5);
    }

/* Estado Inactivo */
.label-estado-inactivo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    color: #000;
    white-space: nowrap;
}

    .label-estado-inactivo::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        /*background-color: #6c757d; *//* gris */
        background-color: red;
        box-shadow: 0 0 4px rgba(108,117,125,0.5);
    }

/* Estado Pagado */
.label-estado-pagado {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    color: #000;
    white-space: nowrap;
}

    .label-estado-pagado::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0d6efd; /* azul */
        box-shadow: 0 0 4px rgba(13,110,253,0.5);
    }

/* Estado Finalizado */
.label-estado-finalizado {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    color: #000;
    white-space: nowrap;
}

    .label-estado-finalizado::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fd7e14; /* naranja */
        box-shadow: 0 0 4px rgba(253,126,20,0.5);
    }

/* Estado Cobrado */
.label-estado-cobrado {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    color: #000;
    white-space: nowrap;
}

    .label-estado-cobrado::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #20c997; /* verde agua */
        box-shadow: 0 0 4px rgba(32,201,151,0.5);
    }


.labelmodulo {
    background-color: #3b5998;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    text-align: center;
    margin-top: 4px;
}

li {
    font-size: 15px !important;
    color: white !important;
}

.Titulo-Login {
    font-size: 28px!important;
    font-weight: bold;
    font-family: Pristina !important;
    color: #3b5998!important;
    text-shadow: 2px 8px 2px rgba(0,0,0,0.25);
}

.scroll {
    white-space: nowrap; /* [1] */
    overflow-x: auto; /* [2] */
    overflow-y: hidden;
    overflow-y: clip;
}

.stilonavbar {
    padding: 0px !important;
    height: auto !important;
    box-shadow: 0px 0px 3px 1px black;
}

table.dataTable thead tr {
    background-color: none;
    color: black;
}

.tituloform {
    font-weight: bold;
    text-align: center !important;
    margin-bottom: 10px;
}

.tituloPage {
    font-weight: bold;
    text-align:left;
}

.titulo-formulario-crear {
    font-weight: bold;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px !important;
    letter-spacing:3px;
}

.titulo-formulario-editar {
    font-weight: bold;
    background-color: darkorange;
    color: black;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px !important;
    letter-spacing: 3px;
    font-weight:bold;
}

.titulo-formulario {
    font-weight: bold;
    background-color: #3b5998;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px !important;
    letter-spacing: 3px;
}

.formulario

/*ADAPTACIONES A PANTALLAS*/


@media screen and (min-width: 100px) {
    body, .btn, .btn-editar-dt, .btn-eliminar-dt, .btn-excel-datatable, .btn-nuevo-datatable, .btn-pdf-datatable, button, .contenedor, .div.dataTables_wrapper div.dataTables_filter input, .grid, input, .label-estado-activo, .label-estado-inactivo, .label-estado-pagado, .label-estado-cobrado,
    .label-estado-finalizado, .modal, select, .swal2-popup, table.dataTable thead tr, textarea, legend {
        font-size: 5px !important;
    }

    .btnSubMenu {
        font-size: 6px !important;
        height: 60px;
        margin: 5px;
        width: 100px;
    }

    .contimg-cambiar-img {
        width: 150px;
        height: 150px;
    }

    .nameempresa {
        font-size: 20px !important;
    }

    .tituloform, .header-modal, .swal2-title, .btnmenu {
        font-size: 7px !important;
    }

    .tituloPage {
        font-size: 10px !important;
    }

    .sizeicono {
        font-size: 20px !important;
    }

    ul {
        font-size: 10px !important;
        color:white !important;
    }
}

/* ///////////////////////// */

@media screen and (min-width: 720px) {
    body,
    .btn,
    .btn-editar-dt,
    .btn-eliminar-dt,
    .btn-excel-datatable,
    .btn-nuevo-datatable,
    .btn-pdf-datatable,
    button,
    .contenedor,
    div.dataTables_wrapper div.dataTables_filter input,
    .grid,
    input,
    .label-estado-activo,
    .label-estado-inactivo,
    .label-estado-pagado,
    .label-estado-cobrado,
    .label-estado-finalizado,
    .modal,
    select,
    .swal2-popup,
    table.dataTable thead tr,
    textarea, 
    legend {
        font-size: 7px !important;
    }

    .btnSubMenu {
        font-size: 7px !important;
        height: 60px;
        margin: 15px;
        width: 100px;
    }

    .contimg-cambiar-img {
        width: 170px;
        height: 170px;
    }

    .nameempresa {
        font-size: 30px !important;
    }

    .tituloform, .header-modal, .swal2-title, .btnmenu {
        font-size: 9px !important;
    }

    .tituloPage {
        font-size: 12px !important;
    }

    .sizeicono {
        font-size: 15px !important;
    }
}

/* ////////////////////////////////////////////// */

@media screen and (min-width: 780px) {
    body,
    .btn,
    .btn-editar-dt,
    .btn-eliminar-dt,
    .btn-excel-datatable,
    .btnmenu,
    .btn-nuevo-datatable,
    .btn-pdf-datatable,
    button,
    .contenedor,
    div.dataTables_wrapper div.dataTables_filter input,
    .grid,
    input,
    .label-estado-activo,
    .label-estado-inactivo,
    .label-estado-pagado,
    .label-estado-cobrado,
    .label-estado-finalizado,
    .modal,
    select,
    .swal2-popup,
    .table.dataTable thead tr,
    textarea,
    legend {
        font-size: 12px !important;
    }

    .btnSubMenu {
        font-size: 12px !important;
        height: 100px;
        margin: 8px;
        width: 150px;
    }

    .contimg-cambiar-img {
        width: 200px;
        height: 200px;
    }

    .nameempresa {
        font-size: 35px !important;
    }

    .tituloform, .header-modal, .swal2-title {
        font-size: 13px !important;
    }

    .tituloPage {
        font-size: 15px !important;
    }

    .sizeicono {
        font-size: 30px !important;
    }

    .btnmenu {
        font-size: 14px !important;
    }
}
