body {
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

    nav ul li a {
        display: block;
        color: white;
        text-align: left;
        padding: 7px 10px;
        text-decoration: none;
        border: solid 1px black;
        font-size: 12px !important;
        height: 39px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: orangered;
        border-radius: 0px;
    }

        nav ul li a:hover {
            background-color: black;
            color: white;
        }

/*main {
    padding:20px;
}*/

/*h2{
    color:#333;
}*/

/*footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    padding-top: 2px;
    font-size: 9px !important;
}*/

#contenedoruno {
    float: left;
    min-width: 150px;
    margin-left: 5px;
    margin-top: 5px
}

#contenedordos {
    margin-left: 170px;
    display: block;
    font-size: 12px !important;
    margin-right: 10px;
}

.btnSubMenu {
    font-size: 10px !important;
    height: 80px;
    width: 150px;
    margin: 8px;
    align-content: center;
    color: white !important;
    font-family: "Open Sans", sans-serif;
    border-radius: 0px !important;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
}

    .btnSubMenu:hover {
        background-color: #666 !important;
        /* color: white;*/
        /*border: solid 1px white;*/
    }

.grid {
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 0px;
    float: left;
    color: black !important;
    font-size: 10px !important;
    border: solid 1px black !important;
    padding-top: 10px;
    padding-bottom: 10px;
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 0px 12px -5px rgba(219,102,13,1);*/
    background-color: white;
}

table.dataTable thead tr {
    background-color: none;
    color: black;
    font-size: 10px;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 180px;
    height: 25px;
    margin-bottom: 10px;
}

input, button, select, textarea {
    font-size: 11px !important;
}

#btnNuevoRegistro {
    float: right;
    margin-bottom: 10px;
    color: white;
    background-color: orangered !important;
}

    #btnNuevoRegistro:hover {
        background-color: #33225a !important;
    }

#NameApp {
    font-family: Pristina !important;
    font-size: 50px !important;
    color: white;
    margin-left: 10px;
    margin-top: 10px !important;
    font-weight: bold;
}

#SloganEmpresa {
    font-size: 10px !important;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-top: -12px !important;
    margin-left: 10px;
    color: white;
}

/*Stilos del modal*/

.header-modal {
    background-color: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.btn-modal-guardar {
    background-color: orangered !important;
    color: white !important;
    font-size: 11px !important;
    border: solid 1px black !important;
}
/*
.btn-modal-guardar:hover {
    background-color: #33225a !important;
    color: white !important;
}
*/

.btn-modal-Cancelar {
    background-color: lightgray !important;
    color: black !important;
    font-size: 11px !important;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    border: solid 1px black !important;
}


.modal {
    font-size: 11px !important;
}


.swal2-popup {
    font-size: 12px !important;
}

/*Estilos datatable*/

.btn-excel-datatable, .btn-pdf-datatable, .btn-nuevo-datatable {
    background-color: orangered !important;
    color: white !important;
    font-size: 10px !important;
    height: 25px;
    line-height: 0px !important;
    border: solid 1px black !important;
}

    .btn-excel-datatable:hover, .btn-pdf-datatable:hover, .btn-nuevo-datatable:hover {
        background-color: black !important;
    }

.btn-editar-dt {
    background-color: steelblue !important;
    font-size: 10px !important;
    color: white !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    border: solid 1px black !important;
}

/*.btn-editar-dt:hover {
    background-color: #666 !important;
}*/

.btn-eliminar-dt {
    background-color: red !important;
    font-size: 10px !important;
    color: white !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    border: solid 1px black !important;
}
/*
.btn-eliminar-dt:hover {
    background-color: #666 !important;
}*/

.btn-logo-dt {
    background-color: purple !important;
    font-size: 8px !important;
    color: white !important;
    margin-left: 1px;
    height: 20px;
    line-height: 15px;
}

.TituloModulo {
    /*  font-weight:bold;*/
    color: black !important;
}

.titu {
    background-color: green !important;
}

hr {
    margin-top: -5px !important;
    border: solid 1px orangered !important;
    opacity: 1 !important;
}

.hruno {
    margin-top: 10px !important;
    border: solid 1px #555 !important;
    opacity: 1 !important;
}

.fondo {
    background-color: #f0f0f0;
    /* background-image: url('../../images/imagesapp/fondo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.labelmodulo {
    background-color: green !important;
    padding: 3px;
    margin-top: 5px !important;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    color: white;
}

#ImagenEmpleado {
    text-align: center;
}

.imagen-escalada-grid {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    border-radius: 50% !important;
}

.contimg-grid {
    width: 25px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
}

.contimg-cambiar-img {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.imagen-escalada-cambiar {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    border-radius: 5px;
}

.label-estado {
    padding: 0px;
    border-radius: 5px;
    font-size: 8px !important;
    color: white;
    line-height: 20px;
    align-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
}

.label-estado-activo {
    border-radius: 5px;
    font-size: 10px !important;
    color: black;
    line-height: 10px;
    align-content: center;
    align-items: center;
    height: 20px;
    background-color: #9ACD32;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px black !important;
}

.label-estado-inactivo {
    border-radius: 5px;
    font-size: 10px !important;
    color: white;
    line-height: 10px;
    align-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    background-color: red;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
    border: solid 1px black !important;
}
