<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="~/Images/ImagesApp/Favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gcs - @ViewBag.Title</title>
    <!-- #region Library -->
    <link href="~/Content/icons-1.10.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Scripts/Sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/Sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/js-cookie/js.cookie.js"></script>
    <!-- #endregion -->
    <!-- #region Scripts App -->
    <script src="~/JsApp/Login.js"></script>
    <!-- #endregion -->
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>