
@{
    ViewBag.Title = "Modulo Configuración";
}

<h6>Modulo Configuración</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Configuracion');
    });
</script>

