
@{
    ViewBag.Title = "Modulo Información";
}

<h6>Modulo Información</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Informacion');
    });
</script>