
@{
    ViewBag.Title = "Modulo Personal Interno";
}

<h6>Modulo Personal Interno</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Personal_Interno');
    });
</script>