
@{
    ViewBag.Title = "Modulo Contabilidad";
}

<h6>Modulo Contabilidad</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Contabilidad');
    });
</script>