
@{
    ViewBag.Title = "Modulo Produccion";
}

<h6>Modulo Produccion</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Produccion');
    });
</script>