
@{
    ViewBag.Title = "Modulo Negocio";
}

<h6>Modulo Negocio</h6>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped" style="width:100.0%">
        <thead>
            <tr>
                <th scope="row">F1, C1</th>
                <th scope="col">Columna 2</th>
                <th scope="col">Columna 3</th>
                <th scope="col">Columna 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Fila 2</th>
                <td>Celda 01</td>
                <td>Celda 02</td>
                <td>Celda 03</td>
            </tr>
            <tr>
                <th scope="row">Fila 3</th>
                <td>Celda 04</td>
                <td>Celda 05</td>
                <td>Celda 06</td>
            </tr>
            <tr>
                <th scope="row">Fila 4</th>
                <td>Celda 07</td>
                <td>Celda 08</td>
                <td>Celda 09</td>
            </tr>
        </tbody>
    </table>
</div>