
@{
    ViewBag.Title = "Modulo Negocio";
}

<h6>Modulo Negocio</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Negocio');
    });
</script>
