
@{
    ViewBag.Title = "Mudulo Personal Externo";
}

<h6>Modulo Personal Externo</h6>

<div id="BotonesSubMenu"></div>

<script>
    $(document).ready(function () {
        ValidarSesion('Personal_Externo');
    });
</script>